#gimply_updates_container {
    position: relative;
}
#gimply_updates_container li {
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    padding: 4px 8px;
    border-raidus: 5px;
}

#contributors {
    float: left;
    width: 170px;
    overflow-x: hidden;
    overflow-y: auto;
    list-style-type: none;
    border-right: solid 2px #ddd;
    padding-right: 4px;
    min-height: 150px;
    max-height: 450px;
}
#gimply_promo {
    position: absolute;
    left: 0;
    top: 455px;
    padding-left: 5px;
}
#gimply_promo img {
    height: 20px;
    cursor: pointer;
}
#contributors li {
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    margin: 2px 0;
}

#contributors li:hover {
    background-color: #AA8DE2;
    color: white;
    border-radius: 6px;
}

#contributors .ui-selected {
    background-color: #924bb8;
    color: white;
    border-radius: 6px;
}

#gimply_updates_input .right, #gimply_updates_container .right {
    float: none;
    margin-left: 170px;
    padding-left: 1em;
}
#gimply_updates_input {
    position: relative;
    margin-top: -15px;
    min-height: 2em;
    margin-bottom: 5px;
}
#gimply_updates_input.active {
    padding-bottom: 15px;
    padding-top: 10px;
    border-bottom: 1px dotted #ccc;
}
#post_update_action{
    position: absolute;
    left: 0;
    top: 0;
    padding: 6px 8px 12px 8px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #8a3eb0;
}

#updates_container {
    list-style-type: none;
    user-select: all;
}

#updates_container .date {
    font-size: 1.3em;
    font-weight: bold;
    color: #555;
    margin-top: 2px;
    margin-bottom: -4px;
}

#updates_container .contributor {
    display: none;
    padding-right: 2em;
}

#updates_container .contributor img {
    height: 1em;
    width: 1em;
}

#updates_container .contributor .name {
    display: none;
}

#updates_container .update {
    margin-bottom: 4px;
    padding-left: 15px;
}

#updates_container .commit, #updates_container .issue-entry{
    height: 1.5em;
    /*padding-left: 15px;*/
}
#updates_container .commit, #updates_container .issue-entry {
    overflow: hidden;
    cursor: pointer;
}

#updates_container .commit-message:hover, #updates_container .issue-title:hover {
    color: #4183C4;
    cursor: pointer;
}

.commit .commit-sha {
    display: none;
}
#updates_container .commit .sha, .issue-entry .issue-number a, .push-details .branch-name a {
    padding: 0 2px;
    font-size: 11px;
    color: #af72db;
}
.commit .sha, .issue-entry .issue-number a {
    margin: 0 4px;
    border: 1px dotted #af72db;
    border-radius: 4px;
}
#updates_container .update .time {
    display: none;
}


#gimply_updates_container .actionBar {
    position: absolute;
    right: -80px;
    top: 0;
}
#gimply_updates_container .actionBar a {
    display: block;
    padding: 2px 8px;
    margin: 4px;
    cursor: pointer;
    font-family: arial;
    text-decoration: none;
    color: #bbb;
    border-radius: 6px;
}
#gimply_updates_container .actionBar a:hover {
    background-color: #E5E5E5;
}
#gimply_updates_container .actionBar a span {
    font-size: 12px;
    display: inline-block;
    margin-left: 4px;
    position: relative;
    bottom: 2px;
}

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("images/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

.icon-ok {
    background-position: -288px 0;
}

.icon-remove {
    background-position: -312px 0;
}


#update_box_container {
    margin-top: -10px;
}
#update_input {
    padding: 8px;
    padding-bottom: 3px;
    position: relative;
    margin-right: 5px;
    margin-top: 5px;
}
#update_input .cancel {
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 10px;
    color: #888;
}
#update_input textarea {
    display: inline-block;
    border: #ddd 1px solid;
}
#update_input button {
    display: inline-block;
    margin: 0 5px;
    margin-right: 25px;
    padding: 4px 10px;
    position: relative;
    bottom: 10px;
    cursor: pointer;
}

#oauth .button {
    font-size: 15px;
    color: white;
    font-family: arial;
}

#oauth, #gimply_enabler {
    text-align: center;
    font-size: 17px;
    font-family: cambria, arial;
    color: #777;
    padding-bottom: 30px;
    line-height: 1.3em;
}

#oauth .logo {
    height: 100px;
    margin-bottom: 15px;
}

#updates_container .update-header {
    max-width: 500px;
    margin-bottom: 4px;
    background: -webkit-gradient(linear, left bottom, right bottom, from(#EBEBEB), to(white));
    margin-left: -4px;
    padding-left: 4px;
    color: #888;
}
#updates_container .update-type {
    margin: 0 3px 0 0;
    display: inline-block;
    font-family: arial;
    padding: 0;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
}
#updates_container span.update-type:first-letter{
    text-transform: capitalize;
}
#updates_container .update-header .contributor-name {
    text-transform: capitalize;
    margin-right: 4px;
}
/*
#updates_container .update-type.pushed{
    background-color: #C6AAE2;
}
#updates_container .update-type.reopened {
    background-color: #EDC795;
}
#updates_container .update-type.closed{
    background-color: #b5d991;
}
#updates_container .update-type.status{
    background-color: CornflowerBlue;
}
*/
#loading {
    position: absolute;
    left: 200px;
    top: 15px;
}



/********************
button
*********************/
.button, #update_box_container a.button  {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}
.medium {
    font-size: 12px;
    padding: .4em 1.5em .42em;
}

.green {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
    background: #538018;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
    background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
    color: #a9c08c;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
    background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

.logo-color {
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0.1,#8908D4), color-stop(0.55,#AD5EDB), color-stop(0.78, #B963EB));
    color: white;
    font-family: arial;
    font-size: 15px;
    margin-top: 25px;
}
.logo-color:hover {
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.1, rgb(145,18,224)),
        color-stop(0.55, rgb(173,94,219)),
        color-stop(0.78, rgb(202,147,237))
    );
}


#update_input .wrapper.buttonWrapper {
    padding-bottom: 5px;
    padding-left: 8px;
}
#update_input .wrapper {
    display: table-cell;
    vertical-align: bottom;
}
#update_box_container {
    background: -webkit-linear-gradient(top,  white 0%, #E5E5E5 100%);
    border: #DDD solid 1px;
    border-radius: 5px;
}
#update_input .hint {
    font-size: 8px;
    color: #888;
    font-style: italic;
    display: block;
    height: 8px;
}

#gimply_enabler {
    padding: 25px 2px;
}

#gimply_enabler .title {
    color: #555;
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 5px;
}

#gimply_enabler .how {
    margin: 24px 0;
    font-family: arial;
    font-size: 13px;
    line-height: 18px;
}
#gimply_enabler .what {
    font-family: arial;
    margin-top: 45px;
    font-size: 16px;
}
#gimply_enabler .em {
    color: #924bb8;
}